footer{
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* CITATIONS */
#citation {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    padding: 20px 10px;
    background-color: rgba(196, 234, 227, 0.5);
    border-radius: 10px;
    border: solid 1px rgb(196, 234, 227);
    backdrop-filter: blur(2px);
    box-shadow: rgba(35, 33, 33, 0.1) 0px 5px;
}

#citation_text {
    text-align: center;
}

/* MENTIONS LEGALES */
#mentionslegales{
    width: 45%;
    margin: 15px auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

    #mentionslegales p, #mentionslegales a {
        font-size: 13px;
        margin: auto;
        text-align: center;
    }

    #mentionslegales a {
        text-decoration: none;
        transition: all 0.5s ease;
        font-weight: 500;
    }

        #mentionslegales a:hover {
            color: #5B5D70;
        }