header{
    display: flex;
    flex-direction: column;
}

/* LOGO */
.logo {
    width: 180px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 25px;
}

/* MENU */
#menu {
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgb(35 33 33 / 10%) 0px 5px;
    border: solid antiquewhite 1px;
    width: 40%;
}

    #menu ul {
        list-style-type: none;
        list-style-position: inside;
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 10px;
    }

        #menu ul li {
            text-align: center;
            margin: auto;
            transition: all 0.5s ease;
            transform: scale(1);
        }

            #menu ul li a {
                font-weight: bold;
                text-decoration: none;
                color: #282D3C;
                font-size: 16px;
            }

            #menu ul li:hover {
                color: #5B5D70;
                transform: scale(1.07) perspective(1px);
                backface-visibility: hidden;
            }

@media only screen and (max-width: 1000px) {
    #menu{
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    #menu {
        width: 85%;
    }

    .logo {
        width: 150px;
    }
}

@media only screen and (max-width: 450px) {
    #menu {
        width: 95%;
    }
}

