main{
    display: flex;
    flex-direction: column;
}

/* PRESENTATION COMMUNE */

#presentation_principale {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
    padding: 25px 0px;
}

    #presentation_principale div {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 80%;
    }

#presentation_principale div img{
    width: 250px;
    margin-right: 25px;
    margin-bottom: 10px;
}

#presentation_principale div h2{
    margin: auto;
    text-align: center;
    margin-left: 25px;
}

#presentation_principale p{
    margin: auto;
    text-align: justify;
}

/* PRESENTATION INDIVIDUELLE */
#presentation_indiv_container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 25px auto;
    background-color: #faf7f4;
    border-radius: 25px;
    box-shadow: rgb(35 33 33 / 10%) 0px 5px;
    border: solid antiquewhite 1px;
}

.insideborder {
    border-right: solid antiquewhite 3px;
}

.presentation_indiv {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.presentation_indiv .photo_indiv p{
    text-align: justify;
}

    .presentation_indiv .photo_indiv img {
        width: 150px;
        border-radius: 100px;
        transform: scale(1);
        transition: all 0.5s ease;
    }

        .presentation_indiv .photo_indiv img:hover {
            transform: scale(1.07) perspective(1px);
        }

    .presentation_indiv a {
        font-weight: 500;
        font-size: 16px;
        margin: auto;
        text-align: center;
        transition: all 0.5s ease;
        padding-bottom: 10px;
        padding-top: 25px;
        font-size: 18px;
        transform: scale(1);
    }

        .presentation_indiv a:hover {
            color: #5B5D70;
            transform: scale(1.07) perspective(1px);
        }

    .img_eleonore .photo_indiv img {
        float: right;
        margin-left: 20px;
    }

.img_pascal .photo_indiv img {
    float: left;
    margin-right: 20px;
}

.signature {
    font-family: 'Square Peg', cursive;
    font-size: 50px;
    text-align: center;
    margin: 8px auto;
}

.contact_indiv a {
    padding: 3px 0px;
}