@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Square+Peg&display=swap');

* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #282D3C;
}

html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(../medias/background.png);
    background-repeat: no-repeat;
    background-position: top center;
}

main {
    display: flex;
    flex-direction: column;
}


.separator {
    width: 35%;
    margin: 5px auto;
}

.hiddenbig {
    display: none;
}

/* CONTACT */
.contact_indiv {
    display: flex;
    flex-direction: column;
}

    .contact_indiv a {
        font-weight: 500;
        font-size: 16px;
        margin: auto;
        text-align: center;
        padding: 3px 0px;
        transition: all 0.5s ease;
        transform: scale(1);
    }

        .contact_indiv a:hover {
            color: #5B5D70;
            transform: scale(1.07) perspective(1px);
        }

    .contact_indiv .email {
        text-align: center;
        margin: auto;
        font-style: italic;
        font-size: 15px;
        font-weight: normal;
    }

        .contact_indiv .email:hover {
            text-decoration: underline;
            color: #282D3C;
        }

#presentationheader {
    margin: auto;
    margin-bottom: 25px;
    padding-top: 25px;
    width: 40%;
    display: flex;
    flex-direction: row;
}

    #presentationheader #photo {
        width: 250px;
        float: right;
    }

    #presentationheader .contact_indiv {
        align-self: center;
    }

/* BOX */
.box {
    padding: 10px;
    background-color: #faf7f4;
    border-radius: 25px;
    box-shadow: rgb(35 33 33 / 10%) 0px 5px;
    border: solid antiquewhite 1px;
    display: flex;
}

/* Mentions légales */
#mentionslegales_text {
    margin: 15px auto;
    width: 50%;
    flex-direction: column;
}

    #mentionslegales_text h2 {
        text-align: center;
        margin: auto;
    }

    #mentionslegales_text p {
        text-align: left;
        margin: 10px auto;
    }