@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Square+Peg&display=swap');

* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #282D3C;
}

html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(../medias/background.png);
    background-repeat: no-repeat;
    background-position: top center;
}


.separator {
    width: 35%;
    margin: 5px auto;
}

.hiddenbig {
    display: none;
}

/* CONTACT */
.contact_indiv {
    display: flex;
    flex-direction: column;
}

    .contact_indiv a {
        font-weight: 500;
        font-size: 16px;
        margin: auto;
        text-align: center;
        padding: 3px 0px;
        transition: all 0.5s ease;
        transform: scale(1);
    }

        .contact_indiv a:hover {
            color: #5B5D70;
            transform: scale(1.07) perspective(1px);
        }

    .contact_indiv .email {
        text-align:center;
        margin: auto;
        font-style: italic;
        font-size: 15px;
        font-weight: normal;
    }

        .contact_indiv .email:hover {
            text-decoration: underline;
            color: #282D3C;
        }
